
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    #introContainer{
        margin-top: 60px;
    }
}

/* Medium devices (landscape tablets, 600px and up) */
@media only screen and (min-width: 600px) {
    #introContainer{
        margin-top: 5vw;
        margin-right: 10vw;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}
