@tailwind base;

*{
  margin: 0;
  padding: 0;

}

body{
  margin:0;
}

.menu_nav_dark>ul>li{
  color:#e5e7eb; 
}

.menu_nav_light>ul>li{
  color:#000000; 
}

.btnFilterP{
  opacity: 0.4;
}

.btnFilterP:hover{
  opacity: 1;
  border-width: 1;
  border-radius: 10;
}

.active{
  opacity: 1;
}
